In [ ]:
#LOGICAL OPERATORS

In [3]:
#  AND =  This operator returns True if both operands are True; otherwise, it returns False.


a=42
b=32
print(a>b and a<b)

x = 123
print(x > 156 and x < 112 )
print(x > 112 and x < 165)

False
False
True

In [11]:
# OR   This operator returns True if at least one of the operands is True. It returns False only if both operands are False.


a=12
b=13
print(a<b or a>b)

x=15
print(x<12 or x>11)
print(x>19 or x<18)

True
True
True

In [15]:
# NOT    If the operand is True, (not) returns False.

a=10
b=15
print(a<b)

x=15
print (not(x<12 or x>11))
print(not(x>19 or x<18))

True
False
False

In [ ]:
#IDENTITY OPERATORS  =  Identity operators in Python are used to compare the memory locations of two objects.

In [21]:
# is - Returns True if both variables point to the same object.

my_variable=2
my_variable1=2
print(my_variable is my_variable1)

my_variable=123
my_variable1=234
print(my_variable is my_variable1)

my_variable=256
my_variable1=256
print(my_variable is my_variable1)

True
False
True

In [23]:
# is not - Returns True if both variables do not point to the same object. 

my_mine=123
my_mine1=234
print(my_mine is not my_mine1)

my_mine=123
my_mine1=123
print(my_mine is not my_mine1)

True
False

In [ ]:
#MEMBERSHIP OPERATORS

In [31]:
# in 

a='1,2,3,4,5,6'
print('5' in a)
print('10' in a)

b='gayathri','vasu','vai','sindhu'
print('gayathri' in b)
b='gayathri','vasu','vai','sindhu'
print('kalpana' in b)

True
False
True
False

In [32]:
# not in

a='1,2,3,4,5,6'
print('5' not in a)
print('10'not in a)

b='gayathri','vasu','vai','sindhu'
print('gayathri'not in b)
b='gayathri','vasu','vai','sindhu'
print('kalpana' not in b)

False
True
False
True

In [ ]:
#BITWISE OPERATORS

In [ ]:
#

In [9]:
#conditional statement

mark=-77
if mark>=90:
    print('A')
elif mark>=80:
    print('B')
elif mark>=70:
    print('C')
else:
    print('D')

D

In [52]:
   score = 45
   if score >= 90:
       grade = "A"
   elif score >= 80:
       grade = "B"
   elif score >= 70:
       grade = "C"
   else:
       grade = "F"
   print(f"The grade for a score of {score} is {grade}")

The grade for a score of 45 is F